.AlertPane {
    float: right;
    background-color: white;
    width: 360px;
}

.AlertPaneTitle {
    background-color: white;
    text-align: left;
    box-shadow: 0 12px 8px -8px gray;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 500;
    height: 70px;
    width: 360px;
    line-height: 50px;
    margin-top: -25px;
    border: 2px solid lightgray;
}

.AlertsInAlertPane {
    width: 360px;
    height: 144px;
    background-color: white;
    border: none;
}

.AlertButton {
    background-color: white;
    border: none;
    border: 2px solid lightgray;
}
